<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>评论-阡陌</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" th:href="@{/asserts/layui/css/layui.css}">
	<link rel="stylesheet" th:href="@{/asserts/static/css/mian.css}">
</head>
<body class="lay-blog">
<!--头部-->
<div th:replace="commpontes/bar::topbar(activeUri='comment')">

</div>
		<div class="container-wrap">
			<div class="container container-message container-details container-comment">
					<div class="contar-wrap">
						<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
							<legend>写点什么</legend>
						</fieldset>
						<form class="layui-form" action="">
							<div class="layui-form-item">
								<label class="layui-form-label">标题</label>
								<div class="layui-input-block">
									<input type="text" name="title" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">是否可见</label>
								<div class="layui-input-block">
									<input type="checkbox" name="switch" lay-skin="switch">
								</div>
							</div>
							<div class="layui-form-item layui-form-text">
								<label class="layui-form-label">内容</label>
								<div class="layui-input-block">
									<textarea name="desc" placeholder="请输入内容" class="layui-textarea" autocomplete="off" required  lay-verify="required"></textarea>
								</div>
							</div>
							<div class="layui-form-item">
								<div class="layui-input-block" style="text-align: right">
									<button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">立即提交</button>
									<button type="reset" class="layui-btn layui-btn-primary">重置</button>
								</div>
							</div>
						</form>
						<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
							<legend>我的</legend>
						</fieldset>
						<div id="contents">
						<div class="item" th:each="li:${mylist}">
							<div class="item-box  layer-photos-demo1 layer-photos-demo">
								<h3 th:text="${li.bktitle}"></h3>
								<h5>发布于：<span  th:text="${#dates.format(li.bkcreatetime,'yyyy-MM-dd HH:mm')}"></span></h5>
								<p th:text="${li.bktext}"></p>
								<div class="count layui-clear">
									<span class="pull-right like" th:attr="deluri=${li.userbkid}"><em style="color: red">删除</em></span>
								</div>
							</div>
						</div>
						</div>
					</div>
			</div>
		</div>
<!--底部-->
<div th:replace="commpontes/bar::footerbar">

</div>
<script th:src="@{/asserts/layui/layui.js}"></script>
<script th:src='@{/asserts/login/js/jquery.min.js}' type="text/javascript"></script>
<script>
    layui.config({
        base: '../asserts/static/js/'
    }).use('blog');
    layui.use('util', function(){
        var util = layui.util;

        //执行
        util.fixbar({
            bar1: false,
            bgcolor: '#1e9fff'
        });
    });
    $(".like").click(function () {
		var uri=$(this).attr("deluri");
		$.ajax({
			url:"/delete/"+uri,
			type:"delete",
			success:function (data) {
                layer.msg('删除成功!', {icon : 1,time : 500},function () {
                    window.parent.location.href="/comment";
                });
            }
		})
    });
    layui.use(['flow','util'], function(){
        var $ = layui.jquery; //不用额外加载jQuery，flow模块本身是有依赖jQuery的，直接用即可。
        var flow = layui.flow;
        var util = layui.util;
        flow.load({
            elem: '#contents' //指定列表容器
            ,done: function(page, next){ //到达临界点（默认滚动触发），触发下一页
                var lis = [];
                $.ajax({
                    url:"/mylist?page="+page,
                    type:"get",
                    success:function (res) {
                        //假设你的列表返回在data集合中
                        layui.each(res.data, function(index, item){
                            lis.push(
                            '<div class="item">'+
                                '<div class="item-box  layer-photos-demo1 layer-photos-demo">'+
                                '<h3>'+item.bktitle+'</h3>'+
                                '<h5>'+"发布于："+'<span>'+util.toDateString(item.bkcreatetime, 'yyyy-MM-dd HH:mm')+'</span></h5>'
                            +'<p>'+item.bktext+'</p>'+
                                '<div class="count layui-clear">'+
                                '<span class="pull-right like" th:attr="deluri='+item.userbkid+'">'+'<em style="color: red">'+"删除"+'</em></span>'+
                            '</div></div></div>'
							);
                        });
                        //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
                        //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
                        next(lis.join(''), page < res.pages);
                    }
                })
            }
        });
    });
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
            var open=null;
            if(data.field.switch==undefined){
                open=0
			}else{
                open=1
			}
            $.ajax({
				url:'/setBk',
				data:{
				    'bktitle':data.field.title,
					'bkswitch':open,
					'bktext':data.field.desc
				},
				type:'post',
				success:function (data) {
					$("#contents").prepend('<div class="item">'+
                        '<div class="item-box  layer-photos-demo1 layer-photos-demo">'+
                        '<h3>'+data.field.title+'</h3>'+
                        '<h5>'+"发布于："+'<span>'+data.time+'</span></h5>'
                        +'<p>'+data.field.desc+'</p>'+
                        '<div class="count layui-clear">'+
                        '<span class="pull-right like" th:attr="deluri='+data.userbkid+'">'+'<em style="color: red">'+"删除"+'</em></span>'+
                        '</div></div></div>')
                }
			})
            return false;
        });
    });
    function my() {
        layer.open({
            type: 2,
            title: '修改个人信息',
            area: [350+'px', 350 +'px'],
            fix: false, //不固定
            maxmin: true,
            shadeClose: true,
            shade:0.4,
            content: '/my' //这里content是一个普通的String
        });
</script>
<style>
	.layui-form-onswitch{
		border-color: #1E9FFF;
		background-color: #1E9FFF;
	}
</style>
</body>
</html>