<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>阡陌</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" th:href="@{/asserts/layui/css/layui.css}">
	<link rel="stylesheet" th:href="@{/asserts/static/css/mian.css}">
</head>
<body class="lay-blog">
<!--头部-->
		<div th:replace="commpontes/bar::topbar(activeUri='')">

		</div>
		<div class="container-wrap">
			<div class="container">
					<div class="contar-wrap">
						<h4 class="item-title">
							<p><i class="layui-icon layui-icon-speaker"></i>公告：<span>欢迎来到我的轻博客</span></p>
						</h4>
						<div id="contents">
							<div class="item" th:each="li:${searchlist}">
								<div class="item-box  layer-photos-demo1 layer-photos-demo">
									<h3 th:text="${li.bktitle}"></h3>
									<h5>作者：<span th:text="${li.username}"></span>   发布于：<span th:text="${#dates.format(li.bkcreatetime,'yyyy-MM-dd HH:mm')}"></span></h5>
									<p th:text="${li.bktext}"></p>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
		<!--底部-->
		<div th:replace="commpontes/bar::footerbar">

		</div>
		<script th:src="@{/asserts/layui/layui.js}"></script>
<script th:src='@{/asserts/login/js/jquery.min.js}' type="text/javascript"></script>
		<script>
            layui.config({
                base: '../asserts/static/js/'
            }).use('blog');
            /*回到顶部*/
            layui.use('util', function(){
                var util = layui.util;

                //执行
                util.fixbar({
                    bar1: false,
					bgcolor: '#1e9fff'
                });
            });
            var search='[[${search}]]'
            /*流加载*/
            layui.use(['flow','util'], function(){
                var $ = layui.jquery; //不用额外加载jQuery，flow模块本身是有依赖jQuery的，直接用即可。
                var flow = layui.flow;
                var util = layui.util;
                flow.load({
                    elem: '#contents' //指定列表容器
                    ,done: function(page, next){ //到达临界点（默认滚动触发），触发下一页
                        var lis = [];
                        $.ajax({
                            url:"/searchlist?page="+page+"&search="+search,
                            type:"get",
                            success:function (res) {
                                //假设你的列表返回在data集合中
                                layui.each(res.data, function(index, item){
                                    lis.push('<div class="item"><div class="item-box  layer-photos-demo1 layer-photos-demo"><h3>'
                                        + item.bktitle +'</h3>'+'<h5>'+"作者:"+'<span >'
                                        +item.username+'</span>'+"   发布于："+'<span>'+util.toDateString(item.bkcreatetime, 'yyyy-MM-dd HH:mm')+'</span>'+'</h5>'+'<p>'+ item.bktext +'</p>'+'</div>'+'</div>');
                                });
                                //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
                                //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
                                next(lis.join(''), page < res.pages);
                            }
						})
                    }
                });
            });
            function my() {
                layer.open({
                    type: 2,
                    title: '修改个人信息',
                    area: [350+'px', 350 +'px'],
                    fix: false, //不固定
                    maxmin: true,
                    shadeClose: true,
                    shade:0.4,
                    content: '/my' //这里content是一个普通的String
                });
		</script>
</body>
</html>