<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qianmo.dao.AllUserDao">
    <select id="getUserByAccount" parameterType="java.lang.String" resultType="com.qianmo.entity.AllUser">
        select * from userinfo where useraccount=#{account}
    </select>
    <!--添加用户-->
    <insert id="addUser" parameterType="com.qianmo.entity.AllUser">
        insert into userinfo values(uuid(),#{username},#{useraccount},#{userpassword},#{userphone})
    </insert>
    <!--修改信息-->
    <update id="updUser" parameterType="com.qianmo.entity.AllUser">
        update userinfo set username=#{username},userpassword=#{userpassword} where userid=#{userid}
    </update>
</mapper>